
<div class="form-container">
  <form [formGroup]="loginForm"
        class="child-container"
        (ngSubmit)="submitForm()"
        novalidate>
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
       
    <div align="center" class="header-container">Login</div>
    <mat-form-field class="mat-text">
      <input matInput type="text" 
             placeholder="Username"
             formControlName="Username">
             
    </mat-form-field>
    <br><br>
    <mat-form-field class="mat-text">
      <input matInput type="password" placeholder="Password" formControlName="Password">
      <mat-break></mat-break>
    </mat-form-field>
   
        <button mat-raised-button class="button-container"color="primary">Login</button>
     
  </form>
</div>

