    <div class="product-container">
      <button mat-raised-button color="primary" (click) ='productAdd()'>Add</button> &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click) ='productEdit()'>Edit</button>
      <mat-form-field>
          <mat-label>Rate</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click) ='productRateAdd()'>Rate</button>
    </div>
     
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
     
    
      <!-- Name Column -->
      <ng-container matColumnDef="ProductId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductId}} </td>
      </ng-container>
      <ng-container matColumnDef="ProductName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
      </ng-container>
      <ng-container matColumnDef="ProductCategory">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductCategory}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Stock">
        <th mat-header-cell *matHeaderCellDef> Stock left </th>
        <td mat-cell *matCellDef="let element"> {{element.Stock}} </td>
    </ng-container>
    <ng-container matColumnDef="Rate">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.Rate}} </td>
  </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)='rowClick(row)' mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
    </table>