table {
    width: 100%;
  }
  /** Button **/

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  .mat-row:hover {
    background-color: red;
  }
  .mat-elevation-z8{
    margin-top: 1.4rem;
  }