<div class="product-container">
  <button mat-raised-button color="primary" (click) ='customerAdd()'>Add</button> &nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary" (click) ='customerEdit()'>Edit</button>
</div>
 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
 

  <!-- Name Column -->
  <ng-container matColumnDef="CustomerId">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.CustomerId}} </td>
  </ng-container>
  <ng-container matColumnDef="FirstName">
    <th mat-header-cell *matHeaderCellDef> Firstname </th>
    <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
  </ng-container>
  <ng-container matColumnDef="MiddleName">
    <th mat-header-cell *matHeaderCellDef> Middle Name </th>
    <td mat-cell *matCellDef="let element"> {{element.MiddleName}} </td>
</ng-container>

<ng-container matColumnDef="LastName">
    <th mat-header-cell *matHeaderCellDef> Lastname </th>
    <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
</ng-container>
<ng-container matColumnDef="Email">
  <th mat-header-cell *matHeaderCellDef>Email </th>
  <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
</ng-container>

<ng-container matColumnDef="Gender">
  <th mat-header-cell *matHeaderCellDef> Gender </th>
  <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr (click)='rowClick(row)' mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
</table>