<h1>User Login</h1>
<br />
<br />
<form name="loginForm" [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()" novalidate
  class="example-form">

  <mat-error *ngIf="errorMessage != ''">
    {{ errorMessage }}
  </mat-error>

    <input matInput type="text" placeholder="User Name" formControlName="Username" required>
    <input matInput type="password" placeholder="Password" formControlName="Password" required>


  <div class="example-full-width">
    <!-- [disabled]="!loginForm.valid" -->
    <button mat-raised-button color="primary" type="submit">Login</button>
  </div>

</form>